.tooltip {
    position: fixed;
    pointer-events: none;
    z-index: var(--z-index-popup);
    transform: translate(-50%, calc(-100% - 5px));
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 3px 20px;
    border-radius: 7px;
  }